<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576"/>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
   <staticContent>
       <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
       <remove fileExtension=".pdf" />
       <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
   </staticContent>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <appSettings>
    <add key="EncryptionKey" value="***MDOLD54FLSK5123***"/>
    <add key="SupervisorUserName" value="i***m"/>
    <add key="SupervisorPassword" value="T***0"/>
    <add key="SupervisorUserName1" value="s***m"/>
    <add key="SupervisorPassword1" value="p***a"/>
    <add key="AppDataBase" value="app.ddb"/>
    <add key="UsersDataBase" value="users.ddb"/>
    <add key="UserDataBase" value="data.ddb"/>
    <add key="WebDataBase" value="web.ddb"/>
    <add key="SharingDataBase" value="sharing.ddb"/>
    <add key="ErrorLog" value="error.log"/>
    
    <add key="myEmail" value="info@programprehrane.com"/>
    <add key="myEmailName" value="Program Prehrane"/>
    <add key="myPassword" value="Ip***$"/>
    <add key="myServerPort" value="25"/>
    <add key="myServerHost" value="mail.programprehrane.com"/>
    <add key="EnableSsl" value="false"/>
    <add key="myEmail_cc" value="program.prehrane@yahoo.com"/>
    
    <!--<add key="myEmail" value="program.prehrane@yahoo.com"/>
    <add key="myEmailName" value="Program Prehrane"/>
    <add key="myPassword" value="Yp***0"/>
    <add key="myServerPort" value="587"/>
    <add key="myServerHost" value="smtp.mail.yahoo.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="myEmail_cc" value="info@programprehrane.com"/>-->
    
    <add key="myEmail_en" value="nutrition.plan@yahoo.com"/>
    <add key="myEmailName_en" value="NutriProg"/>
    <add key="myPassword_en" value="Er***en"/>
    <add key="myServerPort_en" value="587"/>
    <add key="myServerHost_en" value="smtp.mail.yahoo.com"/>
    <!--<add key="myEmail_cc" value="program.prehrane@yahoo.com"/>
    <add key="myMenuEmail" value="jelovnik@programprehrane.com"/>
    <add key="myMenuPassword" value="Jp***$"/>-->
    
    <add key="myMenuEmail" value="program.prehrane@yahoo.com"/>
    <add key="myMenuPassword" value="$Yp***6"/>
    
    <add key="url" value="http://localhost:50691"/>
    <add key="url_en" value="http://localhost:50691"/>
    
    <add key="UserType0FoodLimit" value="668"/>
    <add key="USD" value="6.3"/>
    <add key="TrialDays" value=""/>
    
    <add key="UsdaApiUrl" value="https://api.nal.usda.gov/fdc/v1/"/>
    <add key="UsdaApiKey" value="RqTcaxwMWOal7N4XZySPEtx8hZBXFkZ1v320FQwQ"/>
    
    <add key="rowsPerPage" value="45"/>
  
    <!--<add key="RowsPerPage" value="51"/>-->
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>