<div>
    <ng-include src="'./assets/partials/main.html'"></ng-include>
    <div class="bg-white p-3" ng-cloak>
        <ul class="nav nav-tabs">
            <li class="nav-item" ng-click="toggleMenu('dailyMenuTpl')"><a href="#" ng-class="menuTpl=='dailyMenuTpl'?'nav-link active':'nav-link'"><i class="fa fa-utensils"></i> <span>{{'daily menu' | translate}}</span></a></li>
            <li class="nav-item" ng-click="toggleMenu('weeklyMenuTpl')"><a href="#" ng-class="menuTpl=='weeklyMenuTpl'?'nav-link active':'nav-link'"><i class="fa fa-files-o"></i> <span>{{'weekly menu' | translate}}</span></a></li>
        </ul>
        <loading-directive value="loading"></loading-directive>
        <div ng-include="menuTpl" style="padding-top:20px"></div>
    </div>
</div>

<script type="text/ng-template" id="dailyMenuTpl">
    <div class="row" style="min-height:80vh">
        <div class="col-lg-8" >
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-outline-primary" title="{{'new menu' | translate}}" ng-click="new()"><i class="fa fa-file"></i> <span class="d-none d-sm-inline"> {{'new' | translate}}</span></button>
                    <button class="btn btn-outline-primary" title="{{'open menu' | translate}}" ng-click="get()"><i class="fa fa-search"></i> <span class="d-none d-sm-inline"> {{'search' | translate}}</span></button>
                    <div class="dropdown" style="display: inline-block" >
                        <button ng-disabled="currentMenu.data.selectedFoods.length==0" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-floppy-o"></i> <span class="d-none d-sm-inline">{{'save' | translate}}</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a ng-disabled="currentMenu.data.selectedFoods.length==0" href="" class="dropdown-item" ng-click="save()" title="{{'save as menu' | translate}}"><span>{{'save as menu' | translate}}</span></a>
                            <a ng-disabled="currentMenu.data.selectedFoods.length==0" href="" class="dropdown-item" ng-click="saveRecipeFromMenu(currentMenu.data, currentMeal)" title="{{'save current meal as recipe' | translate}}"><span>{{'save as recipe' | translate}}</span></a>
                        </div>
                    </div>
                    <button ng-disabled="currentMenu.data.selectedFoods.length==0" class="btn btn-outline-primary" title="{{'show menu preview' | translate}}" ng-click="printPreview()"><i class="fa fa-print"></i> <span class="d-none d-sm-inline">{{'print' | translate}}</span></button>
                    <button ng-disabled="currentMenu.data.selectedFoods.length==0" class="btn btn-outline-primary" title="{{'shopping list' | translate}}" ng-click="getShoppingList(currentMenu)"><i class="fas fa-shopping-basket"></i> <span class="d-none d-sm-inline">{{'shopping list' | translate}}</span></button>
                </div>
                <div class="card-body">
                    <div layout-gt-sm="row" style="margin:0px">
                        <md-input-container class="md-block mb-0" flex-gt-sm>
                            <label>{{'menu title' | translate}}</label>
                            <input ng-model="currentMenu.title" type="text">
                        </md-input-container>
                        <md-input-container class="md-block mb-0" flex-gt-sm>
                            <label class="text-capitalize">{{'note' | translate}}</label>
                            <input ng-model="currentMenu.note" type="text">
                        </md-input-container>
                    </div>
                    <div>
                        <div class="d-block d-sm-none">
                            <select ng-model="currentMeal" ng-change="toggleMeals(currentMeal)" class="form-control">
                                <option ng-selected="x.code===currentMeal?true:false" value="{{x.code}}" ng-if="x.isSelected==1" ng-repeat="x in currentMenu.data.meals">{{getMealTitle(x)}}</option>
                            </select>
                        </div>
                        <div class="d-none d-sm-inline">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" ng-click="toggleMeals(x.code)" ng-if="x.isSelected==1" ng-repeat="x in currentMenu.data.meals"><a href="" ng-class="x.code===currentMeal?'nav-link active':'nav-link'">{{getMealTitle(x)}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <loading-directive value="loading"></loading-directive>
                    <div ng-show="!loading" class="pt-1" style="min-height:50vh">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <tbody class="small">
                                    <tr>
                                        <th colspan="8" class="align-bottom">
                                            <div ng-init="sectionIndex = $index" ng-repeat="x in currentMenu.splitMealDesc track by $index">
                                                <div ng-if="x.code===currentMeal">
                                                    <md-input-container class="md-block mb-0" flex-gt-sm ng-repeat="dd in x.dishDesc track by $index">
                                                        <label>{{'meal title' | translate}}</label>
                                                        <input ng-model="dd.title" type="text">
                                                        <div ng-hide="dd.id===null||dd.id===''">
                                                            <a href="" class="small text-danger" title="{{'remove recipe' | translate}}" ng-click="removeDish(currentMenu, sectionIndex, $index, dd.id, x.code)"><i class="fa fa-times"></i> {{'remove recipe' | translate}}</a>
                                                        </div>
                                                        <div class="small mb-2">
                                                            <a ng-if="dd.title.length>0" href="" ng-click="addNewDishTitle(sectionIndex)" title="{{'add new dish title' | translate}}"><i class="fa fa-plus"></i></a>
                                                            <a ng-if="x.dishDesc.length>1" href="" ng-click="removeNewDishTitle(sectionIndex, $index)" title="{{'remove dish title' | translate}}"><i class="fa fa-minus"></i></a>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="text-right border-bottom align-bottom">{{'energy' | translate}}<br /> <span class="small text-nowrap">(<em>{{'kcal' | translate}}</em>)</span></th>
                                        <th class="text-right border-bottom align-bottom">{{'carbs' | translate}}.<br /> <span class="small text-nowrap">(<em>{{'g' | translate}}</em>)</span></th>
                                        <th class="text-right border-bottom align-bottom">{{'prot' | translate}}.<br /> <span class="small text-nowrap">(<em>{{'g' | translate}}</em>)</span></th>
                                        <th class="text-right border-bottom align-bottom">{{'fats' | translate}}<br /> <span class="small text-nowrap">(<em>{{'g' | translate}}</em>)</span></th>
                                    </tr>
                                    <tr ng-if="currentMenu.data.selectedFoods.length>0" ng-repeat="x in currentMenu.data.selectedFoods | filter:filterMeal track by $index" ng-class="getFoodGroupClass(x.foodGroup.code)" title="{{x.foodGroup.title}}">
                                        <td colspan="2">
                                            <div class="btn-group">
                                                <button ng-click="removeFood(x, currentMenu.data.selectedFoods.indexOf(x))" class="btn btn-outline-danger btn-circle btn-sm" title="{{'delete' | translate}}"><i class="fa fa-times"></i></button>
                                                <button class="btn btn-outline-primary btn-circle btn-sm" ng-click="openFoodPopup(x, currentMenu.data.selectedFoods.indexOf(x))" title="{{'edit' | translate}}"><i class="fa fa-pencil-alt"></i></button>
                                            </div>
                                        </td>
                                        <td class="pointer">
                                            <div>
                                                <button class="btn btn-outline-primary btn-sm pl-1 pr-1 pt-0 pb-0" ng-click="moveUp(currentMenu.data.selectedFoods.indexOf(x))" title="{{'move up' | translate}}"><i class="fa fa-angle-up"></i></button>
                                            </div>
                                            <div>
                                                <button class="btn btn-outline-primary btn-sm pl-1 pr-1 pt-0 pb-0" ng-click="moveDown(currentMenu.data.selectedFoods.indexOf(x))" title="{{'move down' | translate}}"><i class="fa fa-angle-down"></i></button>
                                            </div>
                                        </td>
                                        <td class="pointer" style="width:400px" ng-click="openFoodPopup(x, currentMenu.data.selectedFoods.indexOf(x))" ><span>{{x.food}}</span></td>
                                        <td class="text-right" style="min-width:100px">
                                            <input type="text" ng-model="x.quantity" class="form-control" ng-change="changeQuantity(x, 'quantity', currentMenu.data.selectedFoods.indexOf(x))" allow-only-numbers>
                                        </td>
                                        <td style="min-width:100px">{{x.unit}}</td>
                                        <td class="text-right" style="min-width:100px">
                                            <input type="text" ng-model="x.mass" class="form-control" ng-change="changeQuantity(x, 'mass', currentMenu.data.selectedFoods.indexOf(x))" allow-only-numbers>
                                        </td>
                                        <td style="width:10px">{{'g' | translate}}</td>
                                        <td class="text-right nowrap" style="width:150px">{{x.energy}}</td>
                                        <td class="text-right nowrap" style="width:150px">{{x.carbohydrates}}</td>
                                        <td class="text-right nowrap" style="width:150px">{{x.proteins}}</td>
                                        <td class="text-right nowrap" style="width:150px">{{x.fats}}</td>
                                    </tr>
                                    <tr ng-if="x.code===currentMeal" ng-repeat="x in currentMenu.data.meals" >
                                        <td class="align-top">
                                            <button ng-if="isVisibleClearMealBtn(currentMenu.data.selectedFoods, x.code)" ng-click="clearMeal(currentMenu, x.code)" class="btn btn-outline-danger btn-block mt-1" style="min-height:38px" title="{{'clear all foods from the meal' | translate}}"><i class="fa fa-times"></i></button>
                                        </td>
                                        <td colspan="7">
                                            <div class="text-capitalize">
                                                <button ng-disabled="addFoodBtn" class="btn btn-primary mt-1" ng-click="openFoodPopup(null,null)"><i ng-class="addFoodBtnIcon"></i> {{'add food' | translate}}</button>
                                                <button class="btn btn-outline-primary mt-1 ml-2" ng-click="openRecipePopup()"><i class="fa fa-concierge-bell"></i> {{'add recipe' | translate}}</button>
                                            </div>
                                        </td>
                                        <td ng-if="currentMenu.data.selectedFoods.length>0" class="text-right border-top align-top"><span class="font-weight-bold">{{totals.mealsTotal[$index].energy.val | number:1}}</span> <br /><span class="small text-nowrap"><em>({{totals.mealsTotal[$index].energy.perc| number:1}} %)</em></span></td>
                                        <td ng-if="currentMenu.data.selectedFoods.length>0" class="text-right border-top align-top"><span class="font-weight-bold">{{totals.mealsTotal[$index].carbohydrates.val | number:1}}</span> <br /><span class="small text-nowrap"><em>({{totals.mealsTotal[$index].carbohydrates.perc| number:1}} %)</em></span></td>
                                        <td ng-if="currentMenu.data.selectedFoods.length>0" class="text-right border-top align-top"><span class="font-weight-bold">{{totals.mealsTotal[$index].proteins.val | number:1}}</span> <br /><span class="small text-nowrap"><em>({{totals.mealsTotal[$index].proteins.perc| number:1}} %)</em></span></td>
                                        <td ng-if="currentMenu.data.selectedFoods.length>0" class="text-right border-top align-top"><span class="font-weight-bold">{{totals.mealsTotal[$index].fats.val | number:1}}</span> <br /><span class="small text-nowrap"><em>({{totals.mealsTotal[$index].fats.perc| number:1}} %)</em></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="11">
                                            <div ng-if="currentMenu.data.selectedFoods.length>0" class="pt-2">
                                                <md-checkbox ng-model="config.showfoodgroupscolors" class="md-primary">
                                                    {{'color food groups' | translate}}
                                                </md-checkbox>
                                                <i class="fa fa-info-circle text-info" style="cursor:pointer" ng-click="openColorGroupsInfoPopup()"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pt-3">
                            <div ng-repeat="x in currentMenu.splitMealDesc">
                                <div ng-if="x.code===currentMeal">
                                    <md-input-container class="md-block mb-0" flex-gt-sm ng-repeat="dd in x.dishDesc">
                                        <label>{{'meal preparation' | translate}} <em ng-if="dd.title">({{dd.title.length > 35 ? dd.title.substring(0, 33) + '...' : dd.title}})</em></label>
                                        <textarea ng-model="dd.desc" rows="3" class="area" type="text"></textarea>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div ng-if="totals.price.value>0" class="text-right m-2">
                            <em class="text-primary"><span class="text-capitalize">{{'price' | translate}}</span>: <span>{{totals.price.value | number:2}}</span> <span class="text-uppercase">{{totals.price.currency}}</span></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div ng-include="'chartsTpl'" class="table-scroll" style="height:90vh"></div>
        </div>
    </div>
    <json-directive data="currentMenu" desc="'currentMenu'"></json-directive>
    <json-directive data="totals" desc="'totals'"></json-directive>
</script>

<script type="text/ng-template" id="weeklyMenuTpl">
    <div ng-controller="weeklyMenuCtrl">
        <loading-directive value="loading"></loading-directive>
        <div ng-if="!loading" class="card">
            <div class="card-header text-capitalize">
                <button ng-click="new()" class="btn btn-outline-primary"><i class="fa fa-file"></i> <span class="d-none d-sm-inline">{{'new' | translate}} {{'menu' | translate}}</span></button>
                <button class="btn btn-outline-primary" ng-click="search()"><i class="fa fa-search"></i> <span class="d-none d-sm-inline">{{'search' | translate}}</span></button>
                <button ng-disabled="isEmptyList()" ng-click="save()" class="btn btn-outline-primary"><i class="fa fa-floppy-o"></i> <span class="d-none d-sm-inline">{{'save' | translate}}</span></button>
                <button ng-disabled="isEmptyList()" ng-click="remove(weeklyMenu)" class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i> <span class="d-none d-sm-inline text-capitalize">{{'delete' | translate}}</span></button>
                <button ng-disabled="isEmptyList()||creatingPdf==true" ng-if="pdfLink==null" ng-click="printWeeklyMenu(printSettings)" class="btn btn-outline-primary"><i class="fa fa-{{creatingPdf==true?'spinner fa-spin':'file-pdf-o'}}"></i> <span class="d-none d-sm-inline">{{'create pdf' | translate}}</span></button>
                <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-danger" download ng-click="hidePdfLink()"><i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}</a>
                <button ng-if="loginUser.adminType<2&&config.showsendmenu" ng-disabled="pdfLink==null" class="btn btn-outline-primary" title="{{'send menu to the clients email' | translate}}" ng-click="send()"><i class="fa fa-paper-plane"></i> <span class="d-none d-sm-inline">{{'send' | translate}}</span></button>
                <button ng-disabled="isEmptyList()" class="btn btn-outline-primary" title="{{'shopping list' | translate}}" ng-click="openShoppingListPopup(weeklyMenu)"><i class="fa fa-shopping-basket"></i> <span class="d-none d-sm-inline">{{'shopping list' | translate}}</span></button>
            </div>
            <div class="card-body">
                <div class="row text-capitalize pt-2">
                    <div class="col-sm-4">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'menu title' | translate}}</label>
                            <input ng-model="weeklyMenu.title">
                        </md-input-container>
                    </div>
                    <div class="col-sm-8">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'note' | translate}}</label>
                            <input ng-model="weeklyMenu.note">
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border text-capitalize">{{'menus' | translate}}</legend>
                            <div ng-repeat="x in weeklyMenu.menuList track by $index" class="hover" ng-click="get($index)" title="{{'add menu' | translate}}" style="cursor:pointer">
                                <span class="text-capitalize {{x!==''?'text-muted small':''}}">{{getDay($index) | translate}}</span>
                                <div class="row" style="margin:0px">
                                    <div class="col-sm-11" style="padding:0px">
                                        <span ng-if="x!==''">{{weeklyMenu.menuDes[$index].title}} - {{weeklyMenu.menuDes[$index].diet}} ({{weeklyMenu.menuDes[$index].energy}} kcal)</span>
                                    </div>
                                    <div class="col-sm-1 text-right" style="padding:0px">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <hr style="margin:0px 0px 15px 0px" />
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-5">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border text-capitalize">{{'print settings' | translate}}</legend>
                            <div class="text-capitalize">
                                <div class="text-center d-inline-block justify-content-end cursor p-2 {{printType===0?'shadow':'bg-light text-reset small'}}" style="width:100px" ng-click="initPrintSettings(0)">
                                    <img src="./assets/img/week_table_print.png" class="img-fluid" />
                                    <div class="pt-1">{{'table' | translate}}</div>
                                </div>
                                <div class="text-center d-inline-block justify-content-end cursor p-2 {{printType===1?'shadow':'bg-light text-reset small'}}" style="width:100px" ng-click="initPrintSettings(1)">
                                    <img src="./assets/img/multi_page_print.png" class="img-fluid" />
                                    <div class="pt-1">{{'menus' | translate}}</div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>{{'number of consumers' | translate}}</label>
                                        <input ng-model="printSettings.consumers" type="number" min="1" ng-change="hidePdfLink()">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-6">
                                    <label>{{'rows per page' | translate}}: <span class="badge badge-pill badge-secondary">{{printSettings.rowsPerPage}}</span></label>
                                    <input ng-model="printSettings.rowsPerPage" type="range" min="30" max="70" class="slider">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>{{'page size' | translate}}</label>
                                        <md-select ng-model="printSettings.pageSize" ng-change="hidePdfLink()">
                                            <md-option ng-repeat="x in pageSizes" ng-value="x">
                                                {{x}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-6">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>{{'orientation' | translate}}</label>
                                        <md-select ng-model="printSettings.orientation" ng-change="hidePdfLink()">
                                            <md-option ng-value="'L'">{{'landscape' | translate}}</md-option>
                                            <md-option ng-value="'P'">{{'portrait' | translate}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div>
                                <md-checkbox ng-model="printSettings.showClientData" class="md-primary">
                                    {{'show client data' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-model="printSettings.showTitle" class="md-primary">
                                    {{'show dish title' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-model="printSettings.showDescription" class="md-primary" ng-change="hidePdfLink()">
                                    {{'show description' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-model="printSettings.showFoods" class="md-primary">
                                    {{'show foods' | translate}}
                                </md-checkbox>
                            </div>
                            <div>
                                <md-checkbox ng-disabled="!printSettings.showFoods" ng-model="printSettings.showQty" class="md-primary" ng-change="hidePdfLink()">
                                    {{'show quantity' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-disabled="!printSettings.showFoods" ng-model="printSettings.showMass" class="md-primary" ng-change="hidePdfLink()">
                                    {{'show mass' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-disabled="!printSettings.showFoods" ng-model="printSettings.showServ" class="md-primary" ng-change="hidePdfLink()">
                                    {{'show servings' | translate}}
                                </md-checkbox>
                                <md-checkbox ng-model="printSettings.showTotals" class="md-primary">
                                    {{'show totals' | translate}}
                                </md-checkbox>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 mt-2">
                                    <md-checkbox ng-model="printSettings.showDate" class="md-primary" style="margin-bottom:2px">
                                        {{'date' | translate}}
                                    </md-checkbox>
                                </div>
                                <div class="col-sm-9 mt-2">
                                    <input ng-if="printSettings.showDate" ng-model="printSettings.date" class="form-control" ng-change="setDate(date)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 mt-2">
                                    <md-checkbox ng-model="printSettings.showAuthor" class="md-primary" style="margin-bottom:2px">
                                        {{'author' | translate}}
                                    </md-checkbox>
                                </div>
                                <div class="col-sm-9 mt-2">
                                    <input ng-if="printSettings.showAuthor" ng-model="printSettings.author" class="form-control" ng-change="setAuthor(author)" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <json-directive data="weeklyMenu" desc="'weeklyMenu'"></json-directive>
    </div>
</script>

<script type="text/ng-template" id="chartsTpl">
    <div class="text-center">
        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#energy_c">
                <span>{{'energy value' | translate}}</span>
            </div>
            <div id="energy_c" class="card-body collapse show p-0">
                <div class="row">
                    <div class="col chart-box">
                        <span>{{'energy' | translate}}</span>
                        <div id="energyChart" class="guage"></div>
                        <span class="text-primary text-xs text-lowercase"><em>{{'recommended' | translate}}: {{recommendations.energy | number:0}} {{'kcal' | translate}}</em></span>
                    </div>
                    <div class="col chart-box">
                        <span>{{'other foods' | translate}}</span>
                        <div id="otherFoodChart" class="guage"></div>
                        <span class="text-primary text-xs text-lowercase"><em>{{'acceptable' | translate}}: {{recommendations.servings.otherFoodsEnergy | number:0}} {{'kcal' | translate}}</em></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#nutri_c">
                <span>{{'nutritients' | translate}}</span>
            </div>
            <div id="nutri_c" class="card-body collapse show p-0">
                <div class="row">
                    <div class="col chart-box">
                        <span>{{'carbohydrates' | translate}}</span>
                        <div id="carbohydratesChart" class="guage"></div>
                        <div class="text-xs">{{totals.carbohydrates | number:1}} {{'g' | translate}} <span>({{totals.carbohydratesPercentage | number:1}} %)</span></div>
                        <em class="text-primary text-xs text-lowercase">{{'recommended' | translate}}: {{recommendations.carbohydratesPercentageMin | number:0}}-{{recommendations.carbohydratesPercentageMax | number:0}}%</em>
                    </div>
                    <div class="col chart-box">
                        <span>{{'proteins' | translate}}</span>
                        <div id="proteinsChart" class="guage"></div>
                        <div class="text-xs">{{totals.proteins | number:1}} {{'g' | translate}} <span>({{totals.proteinsPercentage | number:1}} %)</span></div>
                        <em class="text-primary text-xs text-lowercase">{{'recommended' | translate}}: {{recommendations.proteinsPercentageMin | number:0}}-{{recommendations.proteinsPercentageMax | number:0}}%</em>
                    </div>
                    <div class="col chart-box">
                        <span>{{'fats' | translate}}</span>
                        <div id="fatsChart" class="guage"></div>
                        <div class="text-xs">{{totals.fats | number:1}} {{'g' | translate}} <span>({{totals.fatsPercentage | number:1}} %)</span></div>
                        <em class="text-primary text-xs text-lowercase">{{'recommended' | translate}}: {{recommendations.fatsPercentageMin | number:0}}-{{recommendations.fatsPercentageMax | number:0}}%</em>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#serv_c">
                <span>{{'unit servings' | translate}}</span>
            </div>
            <div id="serv_c" class="card-body collapse show p-2">
                <canvas id="servChart" class="chart chart-bar"
                        chart-data="servGraphData.data" chart-labels="servGraphData.labels" chart-colors="servGraphData.colors"
                        chart-series="servGraphData.series" chart-dataset-override="servGraphData.datasetOverride"></canvas>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#meals_c">
                <span>{{'distribution of energy value per meals' | translate}}</span>
            </div>
            <div id="meals_c" class="card-body collapse show p-2">
                <canvas id="mealsChart" class="chart chart-bar"
                        chart-data="mealsGraphData_menu.data" chart-labels="mealsGraphData_menu.labels" chart-colors="mealsGraphData_menu.colors"
                        chart-series="mealsGraphData_menu.series" chart-options="mealsGraphData_menu.options" chart-dataset-override="mealsGraphData_menu.datasetOverride"></canvas>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#mealsnutri_c">
                <span>{{'distribution of nutrients per meals' | translate}}</span>
            </div>
            <div id="mealsnutri_c" class="card-body collapse show p-2">
                <canvas id="mealsNutriChart" class="chart chart-bar"
                        chart-data="mealsNutriGraphData_menu.data" chart-labels="mealsNutriGraphData_menu.labels" chart-colors="mealsNutriGraphData_menu.colors"
                        chart-series="mealsNutriGraphData_menu.series" chart-options="mealsNutriGraphData_menu.options" chart-dataset-override="mealsNutriGraphData_menu.datasetOverride"></canvas>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header pointer" data-toggle="collapse" data-target="#badnutri_c">
                <!--<span>{{'bad nutrients' | translate}}</span>-->
                <span class="fa fa-exclamation-triangle"></span>
            </div>
            <div id="badnutri_c" class="card-body collapse show p-0">
                <div class="row">
                    <div class="col chart-box">
                        <span>{{'saturated fats' | translate}}</span>
                        <div id="saturatedFatsChart" class="guage"></div>
                        <div>{{totals.saturatedFats | number:1}} {{'g' | translate}}</div>
                        <em class="text-primary text-xs text-lowercase">{{'acceptable' | translate}}: {{recommendations.saturatedFats.ui | number:0}} g</em>
                    </div>
                    <div class="col chart-box">
                        <span>{{'trifluoroacetic acid' | translate}}</span>
                        <div id="trifluoroaceticAcidChart" class="guage"></div>
                        <div>{{totals.trifluoroaceticAcid | number:1}} {{'g' | translate}}</div>
                        <em class="text-primary text-xs text-lowercase">{{'acceptable' | translate}}: {{recommendations.trifluoroaceticAcid.ui | number:0}} g</em>
                    </div>
                    <div class="col chart-box">
                        <span>{{'cholesterol' | translate}}</span>
                        <div id="cholesterolChart" class="guage"></div>
                        <div>{{totals.cholesterol | number:1}} {{'mg' | translate}} </div>
                        <em class="text-primary text-xs text-lowercase">{{'acceptable' | translate}}: {{recommendations.cholesterol.ui | number:0}} mg</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







