<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="bg-main">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'recipe' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="text-right">
                    <button ng-click="copyToClipboard('menu_container')" class="btn btn-outline-primary" title="{{'copy to clipboard' | translate}}"><span class="text-capitalize"><i class="fa fa-files-o"></i> {{'copy' | translate}}</span></button>
                    <a ng-if="pdfLink==null" href="" ng-click="printRecipePdf(settings)" class="btn btn-outline-primary text-capitalize" ng-disabled="creatingPdf==true"><i class="fa fa-{{creatingPdf==true?'spinner fa-spin':'file-pdf-o'}}"></i> {{'create pdf' | translate}}</a>
                    <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-danger text-capitalize" download ng-click="hidePdfLink()">
                        <i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}
                    </a>
                </div>
                <div class="row small">
                    <div class="col-sm-3">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border">{{'number of consumers' | translate}}</legend>
                            <input ng-model="settings.consumers" type="number" min="1" class="form-control" style="max-width:100px" ng-change="changeNumberOfConsumers(settings.consumers)" allow-only-numberss>
                        </fieldset>
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border">{{'show in print' | translate}}</legend>
                            <md-input-container class="md-block">
                                <md-checkbox ng-model="settings.showDescription" class="md-primary text-capitalize">
                                    {{'description' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showQty" class="md-primary text-capitalize">
                                    {{'quantity' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showMass" class="md-primary">
                                    {{'mass' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showServ" class="md-primary">
                                    {{'unit servings' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-model="settings.showTotals" class="md-primary">
                                    {{'total energy and nutritional value of the recipe' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-model="settings.showImg" class="md-primary text-capitalize">
                                    {{'image' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox ng-model="settings.showPrice" class="md-primary">
                                    {{'price' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block" style="margin-bottom:2px">
                                <md-checkbox ng-model="settings.showDate" class="md-primary text-capitalize" style="margin-bottom:2px">
                                    {{'date' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <div ng-if="settings.showDate">
                                <input ng-model="date" class="form-control" ng-change="setDate(date)" />
                            </div>
                            <md-input-container class="md-block" style="margin-bottom:2px">
                                <md-checkbox ng-model="settings.showAuthor" class="md-primary text-capitalize" style="margin-bottom:2px">
                                    {{'author' | translate}}
                                </md-checkbox>
                            </md-input-container>
                            <div ng-if="settings.showAuthor">
                                <input ng-model="author" class="form-control" ng-change="setAuthor(author)" />
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-9">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border text-capitalize">{{'recipe' | translate}}</legend>
                            <div id="menu_container">
                                <div class="row">
                                    <div ng-if="settings.showImg&&recipe.recipeImg" class="col-xl-5 pt-3">
                                        <img class="rounded" src="../upload/users/{{userId}}/recipes/{{recipe.id}}/recipeimg/{{recipe.recipeImg}}" alt="{{recipe.recipeImg}}" style="width:100%">
                                    </div>
                                    <div class="col-xl-7 pt-3">
                                        <h4>{{recipe.title}}</h4>
                                        <div ng-if="settings.showDescription" class="pt-3">
                                            <label class="text-uppercase font-weight-bold">{{'description, recipe preparation' | translate}}:</label>
                                            <p>{{recipe.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <p ng-if="settings.consumers > 1">{{'number of consumers' | translate}}: <strong>{{settings.consumers}}</strong></p>
                                <div ng-if="settings.showFoods" class="mt-2">
                                    <label class="text-uppercase font-weight-bold">{{'ingredients' | translate}}:</label>
                                    <div ng-repeat="y in foods track by $index">
                                        - {{y.food}}<span ng-if="settings.showQty">, {{y.quantity}} {{y.unit}}</span><span ng-if="settings.showMass">, {{y.mass>999?(y.mass/1000).toFixed(1):y.mass}} {{y.mass>999?('kg' | translate):('g' | translate)}}</span> <span ng-if="settings.showServ&&getServDescription(y.servings)!=''">, ({{getServDescription(y.servings)}})</span>
                                    </div>
                                </div>
                                <div ng-if="settings.showTotals">
                                    <hr />
                                    <label><span class="text-uppercase">{{'total' | translate}}</span><span ng-if="settings.consumers > 1"> ({{'per consumer' | translate}})</span>:</label>
                                    <p>{{'energy value' | translate}}: <span>{{totals.energy}} kcal</span></p>
                                    <p>{{'carbohydrates' | translate}}: <span>{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</span></p>
                                    <p>{{'proteins' | translate}}: <span>{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</span></p>
                                    <p>{{'fats' | translate}}: <span>{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</span></p>
                                </div>
                                <div ng-if="totals.price.value>0 && settings.showPrice">
                                    <hr />
                                    <em class="text-primary"><span class="text-capitalize">{{'price' | translate}}</span>: <span>{{totals.price.value | number:2}}</span> <span class="text-uppercase">{{config.currency}}</span></em>
                                </div>
                                <div ng-if="settings.showAuthor||settings.showDate">
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div ng-if="settings.showDate">
                                                <label>{{'creation date' | translate}}</label>: {{date}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div ng-if="settings.showAuthor" class="text-right">
                                                <label>{{'author of the recipe' | translate}}</label>: {{author}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
