<div>
    <div class="jumbotron text-left">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <a ui-sref="about" href="" style="text-decoration:none" title="program prehrane">
                    <h1 class="main-text">Program Prehrane Web</h1>
                    <h2 class="lead"><strong>Web aplikacija za nutricioniste</strong></h2>
                </a>
                <div class="text-left">
                    <a href="../app/" class="btn btn-default m-2 main-border" style="width:260px" title="ulaz u aplikaciju"><i class="fa fa-sign-in-alt fa-2x"></i> <span class="lead"> Ulaz za Korisnike</span></a>
                    <a ui-sref="registration" href="" class="btn btn-default m-2 main" style="width:260px" title="postani korisnik"><i class="fa fa-user-plus fa-2x"></i> <span class="lead"> Postani Korisnik</span></a>
                </div>
            </div>
        </div>
        <div ng-if="config.freetrial" class="row" ng-cloak>
            <div class="col-md-8 col-md-offset-4">
                <a ui-sref="registration" href="" style="text-decoration:none" title="Program Prehrane 15-dana besplatno">
                    <label class="lead" style="font-weight:bold; color:#e40202; background-color:#fff; text-shadow: 2px 2px 4px #000000;">15 dana besplatno !</label>
                </a>
            </div>
        </div>

    </div>
    <div class="container text-center">
        <div class="row p-2">
            <div class="col-sm-3 p10">
                <i class="fa fa-calculator main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Izračun</h2>
                <h3 class="small" style="margin:5px">Izračun <a ui-sref="bmi" href="" class="nodecoration" title="Indeks tjelesne mase | BMI Kalkulator">BMI</a>, energetske potrošnje i preporučenog energetskog unosa</h3>
            </div>
            <div class="col-sm-3 p10">
                <i class="fa fa-bicycle main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Tjelesna aktivnost</h2>
                <h3 class="small" style="margin:5px">Izrada plana treninga i detaljni izračun energetske potrošnje</h3>
            </div>
            <div class="col-sm-3 p10">
                <i class="fa fa-heartbeat main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Preporuke</h2>
                <h3 class="small" style="margin:5px">Preporuke za razne dobne skupine i više vrsta dijeta</h3>
            </div>
            <div class="col-sm-3 p10">
                <a href="plan-prehrane.html" class="nodecoration" title="plan prehrane">
                    <i class="fa fa-utensils main-text fa-3x"></i>
                    <h2 style="margin-bottom:0px" class="lead">Plan prehrane</h2>
                    <h3 class="small" style="margin:5px">Izrada dnevnih i tjednih planova prehrane za pojedince i skupine konzumenata</h3>
                </a>
            </div>
        </div>
        <div class="row pt10">
            <div class="col-sm-3 p10">
                <i class="fa fa-chart-pie main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Analiza</h2>
                <h3 class="small" style="margin:5px">Analiza dnevnih i tjednih jelovnika, grafički i tabelarni prikazi</h3>
            </div>
            <div class="col-sm-3 p10">
                <i class="fa fa-chart-bar main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Pacijenti</h2>
                <h3 class="small" style="margin:5px">Baza pacijenata. Praćenje antropometrijskih parametara</h3>
            </div>
            <div class="col-sm-3 p10">
                <a ui-sref="aplikacija-za-klijente" href="" class="nodecoration" title="aplikacija za klijente">
                    <i class="fa fa-mobile main-text fa-3x"></i>
                    <h2 style="margin-bottom:0px" class="lead">Klijent App</h2>
                    <h3 class="small" style="margin:5px">Dozvolite svojim pacijentima da putem aplikacije sami prate svoje mjere i preuzimaju jelovnike</h3>
                </a>
            </div>
            <div class="col-sm-3 p10">
                <i class="fa fa-shopping-basket main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Košarica</h2>
                <h3 class="small" style="margin:5px">Izračun cijene jelovnika i kreiranje šoping liste</h3>
            </div>
        </div>
    </div>

    <div id="about" class="container pt-5">
        <div>
            <h2>O aplikaciji</h2><br>
            <p class="text-justify">
                <iframe name="video" title="youtube video" class="video-frame" height="325" src="https://www.youtube.com/embed/Pz61JmLZ-bg" frameborder="0" allowfullscreen"></iframe>
                <a href="../app/" title="web aplikacija"><strong>Program Prehrane Web</strong></a> omogućava utvrđivanje stanja uhranjenosti i energetske potrošnje pojedinca te izradu uravnoteženih jelovnika utemeljenu na znanstvenim spoznajama na polju nutriconizma.
                Osmišljavanjem jelovnika korištenjem ove aplikacije, prehrana krajnjih korisnika postaje uravnotežena i raznolika
                što se može zahvaliti činjenici da se izrada jelovnika bazira na preporučenom broju jediničnih serviranja svih skupina namirnica <em>(piramida prehrane)</em> te njihovih energetskih, makro i mikronutiritivnih vrijednost.
                S obzirom da web aplikacija <a href="../app/" title="web aplikacija"><strong>Program Prehrane Web</strong></a> sadrži bazu od preko <a ui-sref="tablica-namirnica" href="" class="nodecoration" title="Tablica namirnica">700 namirnica i jela</a> moguće je zadovoljiti zahtjeve većine korisnika po pitanju izbora namirnica.
                Osim toga aplikacija pruža mogućnost unosa vlastitih namirnica i njihovih makro i mikronutritivnih vrijednosti.
                Nadalje, kad se govori o problemu prekomjerne tjelesne mase, preporuča se uz promjenu prehrambenih navika, u svakodnevicu uključiti i dodatnu tjelesnu aktivnost,
                pa tako program nudi podatke o energetskoj potrošnji za preko 400 tjelesnih aktivnosti. <br />
                Osim preporuka za izradu plana prehrane za mršavljenje, program nudi i preporuke za debljanje kod osoba sa sniženom tjelesnom masom i preporuke za povećenje mišićne mase,
                kao i preporuke za više vrsta dijeta kao što su <em>redukcijska dijeta, visokoproteinska dijeta , ulkusna dijeta, dijabetička dijeta, semivegetarijanska dijeta i dr...</em><br />
                Više o karakteristikama i funkcijama aplikacije pogledajte <a ui-sref="price" href="" title="cijene"><strong>ovdje...</strong></a>
            </p>
        </div>
        <div class="text-center p-5">
            <img src="../assets/img/ppweb/ppweb_izrada_jelovnika.png" alt="ppweb_izrada_jelovnika.png" class="img-fluid img-thumbnail" />
        </div>
        <div>
            <p class="text-justify">
                <a href="../app/" title="web aplikacija"><strong>Program Prehrane Web</strong></a> je online aplikacija i za razliku od stare <a ui-sref="program-prehrane-5" href="" title="program prehrane 5.0" rel="noopener"><strong>verziju 5.0</strong></a> nije potrebna instalacija na računalo,
                već je dovoljna samo registracija u sustav, a aplikaciji možete pristupiti sa bilo kojeg računala koji ima pristup internetu neovisno o operativnom sustavu. Još jedna od prednosti u odnosu na <a ui-sref="program-prehrane-5" href="" title="program prehrane 5.0" rel="noopener"><strong>verziju 5.0</strong></a> je u tome
                što zajedničkoj bazi podataka može pristupiti više korisnika (nutricionista) unutar jednog tima. Svi podaci (podaci o klijentima, jelovnici, vlastite namirnice i recepti se spremaju na server i nema opasnosti od gubitka podataka zbog kvara ili zamjene računala).
                Dizajn aplikacije je responzivan što znači da se automatski prilagođava rezoluciji monitora bilo kojeg uređaja (računalo, tablet, mobitel). <br />
            </p>
        </div>
    </div>

    <div id="pricing" class="container bg-grey pt-5">
        <div class="text-center">
            <h2>Program Prehrane Web - Paketi</h2>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4">
                <div class="card text-center zoom" style="padding:0">
                    <div class="card-header main">
                        <h3>START</h3>
                    </div>
                    <div class="card-body">
                        <h4><strong>550.00 kn</strong> / 1 godina</h4>
                        <h5><strong>880.00 kn</strong> / 2 godine</h5>
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item">Broj korisnika: <strong>1</strong></li>
                            <li class="list-group-item">Broj klijenata: <strong>5/mjesečno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>668</strong></li>
                            <li class="list-group-item"><s>Pristup USDA bazi namirnica</s></li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>6</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>1</strong></li>
                            <li class="list-group-item"><s>Kalkulator masnog tkiva</s></li>
                            <li class="list-group-item"><s>Kastom obroci</s></li>
                            <li class="list-group-item"><s>Kalendar termina</s></li>
                            <!--<li class="list-group-item"><s>Slanje jelovnika na e-mail klijenta</s></li>-->
                            <li class="list-group-item"><s>Aplikacija za klijente</s></li>
                            <li class="list-group-item"><s>Šoping lista</s></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p5">
                            <a ui-sref="pricing" href="" class="btn btn-default btn-block btn-lg m2" title="saznaj više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ribbon"><span>Preporuka</span></div>
                <div class="card card text-center zoom" style="padding:0; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                    <div class="card-header main">
                        <h3>STANDARD</h3>
                    </div>
                    <div class="card-body">
                        <h4><strong>950.00 kn</strong> / 1 godina</h4>
                        <h5><strong>1,520.00 kn</strong> / 2 godine</h5>
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item">Broj korisnika: <strong>2</strong></li>
                            <li class="list-group-item">Broj klijenata: <strong>20/mjesečno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>724</strong></li>
                            <li class="list-group-item"><s>Pristup USDA bazi namirnica</s></li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>6</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>4</strong></li>
                            <li class="list-group-item"><s>Kalkulator masnog tkiva</s></li>
                            <li class="list-group-item"><s>Kastom obroci</s></li>
                            <li class="list-group-item">Kalendar termina</li>
                            <!--<li class="list-group-item">Slanje jelovnika na e-mail klijenta</li>-->
                            <li class="list-group-item">Aplikacija za klijente</li>
                            <li class="list-group-item"><s>Šoping lista</s></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p5">
                            <a ui-sref="pricing" href="" class="btn btn-default btn-block btn-lg m2" title="saznaj više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card text-center zoom" style="padding:0">
                    <div class="card-header main">
                        <h3>PREMIUM</h3>
                    </div>
                    <div class="card-body">
                        <h4><strong>{{premiumPriceOneYear | number : 2}} kn</strong> / 1 godina</h4>
                        <h5><strong>{{premiumPriceTwoYear | number: 2}} kn</strong> / 2 godine</h5>
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item">
                                Broj korisnika:
                                <strong>
                                    <select ng-model="premiumUsers" ng-options="x for x in maxUsers" style="height:30px" ng-change="getPremiumPrice(premiumUsers)"></select>
                                </strong>
                            </li>
                            <li class="list-group-item">Broj klijenata: <strong>neograničeno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>724</strong></li>
                            <li class="list-group-item">Pristup USDA bazi namirnica</li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>9</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>5</strong></li>
                            <li class="list-group-item">Kalkulator masnog tkiva</li>
                            <li class="list-group-item">Kastom obroci</li>
                            <li class="list-group-item">Kalendar termina</li>
                            <!--<li class="list-group-item">Slanje jelovnika na e-mail klijenta</li>-->
                            <li class="list-group-item">Aplikacija za klijente</li>
                            <li class="list-group-item">Šoping lista</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p5">
                            <a ui-sref="pricing" href="" class="btn btn-default btn-block btn-lg m2" title="saznaj više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="details" ng-include="'./assets/partials/details.html'"></div>

    <div class="container">
        <a ui-sref="uputa" href="" title="Program Prehrane Web - Uputa ua korištenje"><i class="fa fa-book"></i> Uputa za korištenje</a>
    </div>

    <div id="demo" class="container text-left pt-5">
        <h2 class="text-center">Demo verzija</h2>
        <p class="text-justify">
            U demo verziji možete isprobati većinu funkcionalnosti. Neke su funkcionalnosti
            onemogućene kao npr: kod izrade jelovnika maksimalan broj odabranih namirnica je 10, onemogućeno je snimanja podataka (snimanje jelovnika, recepata, namirnica, cijena, detaljne energetske potrošnje i dr), korištenje kalendara, kreiranje šoping liste, dodavanje novih korisnika itd.
        </p>
    </div>

    <div id="registration" class="container text-left pt-5">
        <h2 class="text-center">Registracija</h2>
        <div id="webapp" class="row justify-content-md-center">
            <div ng-include="'./assets/partials/signup.html'" class="col-md-8" ng-controller="signupCtrl"></div>
        </div>
    </div>

    <div id="order" ng-controller="webAppCtrl" class="container text-left pt-5">
        <h2 class="text-center">NARUDŽBA</h2>
        <div>
            <h3>Postupak narudžbe:</h3>
            <ol>
                <li>Ukoliko se već niste registrirali, prvo se <a ui-sref="registration" href="" title="registracija">registrirajte</a>.</li>
                <li>U narudžbenici upišite e-mail i lozinku koju ste odabrali prilikom registracije i kliknite na tipku <kbd>Dalje >></kbd>.</li>
                <li>
                    Odaberite paket (<em>START, STANDARD ili PREMIUM</em>) i trajanje pretplate (<em>jedna ili dvije godine</em>) i popunite sva obavezna polja
                    <p class="small"><em>* ako se račun izdaje na tvrtku odaberite <strong>pravna osoba</strong>.</em></p>
                </li>
                <li>Pošaljite narudžbu klikom na <kbd>Dalje >></kbd>.</li>
                <li>Na Vaš e-mail ćete dobiti podatke za uplatu.</li>
                <li>Aplikacija postaje aktivna nakon primitka Vaše uplate ili nakon što nam pošaljete potvrdu o uplati.</li>
            </ol>
        </div>
        <div class="row justify-content-md-center">
            <div ng-include="'./assets/partials/order.html'" class="col-md-8" ng-controller="orderCtrl"></div>
        </div>
    </div>

    <div ng-include="'./assets/partials/awards.html'"></div>

    <div ng-include="'./assets/partials/customers.html'"></div>

    <div ng-include="'./assets/partials/info.html'" ng-controller="contactCtrl"></div>
</div>
