<div class="container mt-5">
    <div class="text-center">
        <h2>Plaćanje putem PayPal-a</h2>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div ng-if="!showDiscount(discount)"  ng-include="'../app/assets/partials/paypal.html'"></div>
                    <div ng-if="showDiscount(discount)" ng-include="'../app/assets/partials/paypal_discount_20.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
