<div class="container pt60">
    <h1>Tablica namirnica - Energetske vrijednosti</h1>
    <div ng-cloak>
        <h2 class="small">Popis namirnica iz Web aplikacije <a href="app" title="Web aplikacija Program Prehrane">Program Prehrane Web</a></h2>
        <p class="text-justify">Baza sadrži više od 700 namirnica i pripremljenih jela. U ovoj tablici je prikazana samo energetska vrijednost namirnica. Detaljne informacije o namirnicama (makro i mikronutritivne vrijednosti) su dostupne u <a href="app" title="Web aplikacija Program Prehrane">aplikaciji</a>.</p>
        <hr />
        <div ng-if="loading" class="text-center text-primary">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
            <p>Pričekajte trenutak. Tablica se učitava...</p>
        </div>
        <div ng-if="!loading" class="well">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td></td>
                        <td>
                            <form>
                                <div class="input-group" style="width:250px">
                                    <input ng-model="search" type="text" class="form-control" placeholder="Pretraži...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <th>br.</th>
                        <th>Namirnica</th>
                        <th class="nowrap text-center">Masa (g)</th>
                        <th class="text-center">Količina</th>
                        <th>Jedinica</th>
                        <th class="nowrap text-center">Energija (Kcal)</th>
                        <th class="text-center">Detalji</th>
                    </tr>
                    <tr ng-repeat="x in foods | filter: search | orderBy: 'food' | limitTo: limit">
                        <td>{{$index+1}}</td>
                        <td>{{x.food}}</td>
                        <td class="text-right">{{x.mass}}</td>
                        <td class="text-right">{{x.quantity}}</td>
                        <td class="nowrap">{{x.unit}}</td>
                        <td class="text-right">{{x.energy | number:1}}</td>
                        <td class="text-center"><a href="app" title="Makro i mikro nutritivne vrijednosti namirnica potražite u web aplikaciji Program Prehrane Web" class="btn btn-default" style="border-radius:45%"><i class="fa fa-info fa-2x"></i></a></td>
                    </tr>
                </table>
            </div>
            <a ng-if="limit<foods.length" href="" class="btn btn-default" ng-click="showMore(1000)"><i class="fa fa-arrow-down"></i> Prikaži sve namirnice</a>
        </div>
    </div>
    <a href="../app/" title="Web aplikacija za izradu uravnoteženih jelovnika i plana tjelesne aktivnosti">
        <div class="mt20 text-center">
            <img src="../assets/img/mockup_600x400.jpg" class="img-thumbnail m10" ale="Web aplikacija Program Prehrane Web" />
            <div>
                <em class="small">* Web aplikacija Program Prehrane Web</em>
            </div>
        </div>
    </a>
</div>
