<html lang="hr">
<head>
    <title>Program Prehrane Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="IG PROG, obrt za računalno programiranje">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link href="assets/css/vendor/all.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/vendor/sb-admin-2.css" rel="stylesheet">
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-animate.min.js"></script>
    <script src="assets/js/vendor/angular-aria.min.js"></script>
    <script src="assets/js/vendor/angular-messages.min.js"></script>
    <script src="assets/js/vendor/angular-translate.min.js"></script>
    <script src="assets/js/vendor/angular-translate-loader-partial.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body ng-app="app" ng-controller="appCtrl"  ng-cloak>
    <div class="container p-5">
        <div class="card shadow">
            <div class="card-header text-center pt-5">
                <img src="assets/img/logo.png" alt="Program Prehrane Web" class="img img-fluid" style="height:80px" />
                <div ng-if="user.userId" class="mt-5">
                    <h2 ng-if="resp===null" class="text-capitalize">{{'reset password' | translate}}</h2>
                </div>
            </div>
            <div class="card-body">
                <div ng-if="user.userId&&resp===null">
                    <form id="reserpass" class="user" autocomplete="off">
                        <div class="pt-2">
                            <div class="form-group">
                                <input ng-model="d.userName" type="text" class="form-control form-control-user" name="username" placeholder="{{'user name' | translate}}" >
                            </div>
                            <div class="form-group">
                                <input ng-model="d.password" type="password" class="form-control form-control-user" name="password" placeholder="{{'new password' | translate}}" autocomplete="new-password">
                            </div>
                            <div ng-if="d.password" class="form-group p-2">
                                <em class="small text-muted">{{'password strength' | translate}}:</em>
                                <password-strength ng-model="d.password"></password-strength>
                            </div>
                            <div class="form-group">
                                <input ng-model="d.passwordConfirm" type="password" class="form-control form-control-user" name="passwordconfirm" placeholder="{{'confirm password' | translate}}" autocomplete="new-password">
                            </div>
                        </div>
                    </form>
                    <div class="m-2">
                        <button form="reserpass" class="btn btn-primary btn-user btn-block text-capitalize rounded-pill" ng-click="save(d)" type="submit"><i class="fa fa-check"></i> {{'save' | translate}}</button>
                    </div>
                    <div ng-if="d.alertMsg" class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-triangle"></i> {{d.alertMsg}}
                    </div>
                </div>
                <div ng-if="resp==='saved'" class="text-center">
                    <div class="m-2">
                        <div ng-if="d.alertMsg" class="alert alert-success text-capitalize" role="alert">
                            {{d.alertMsg}}
                        </div>
                        <a href="../app/" class="btn btn-outline-primary btn-lg"><i class="fa fa-sign-in-alt"></i> <span class="text-uppercase">{{'enter application' | translate}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/resetpassword.js"></script>
</body>
</html>
