<div id="awards" class="container text-center mt-5">
    <h2>Priznanja</h2>
    <div class="row slideanim small">
        <div class="col-md-3">
            <award-directive shortdesc="'INOVA 34'"
                            longdesc="'Zlatna medalja na 34. hrvatskom salonu inovacija INOVA 2009 (Verzija 1.0 iz 2008 g.)'"
                            img="'./assets/img/awards/inova34.jpg'">
            </award-directive>
        </div>
        <div class="col-md-3">
            <award-directive shortdesc="'INOVA 37'"
                             longdesc="'Zlatna medalja na 37. salonu inovacija INOVA 2012, sa međunarodnim sudjelovanjem (Verzija 2.0 iz 2012 g)'"
                             img="'./assets/img/awards/inova37.jpg'">
            </award-directive>
        </div>
        <div class="col-md-3">
            <award-directive shortdesc="'INVENTUM 2013'"
                             longdesc="'Srebrna medalja na sajmu INVENTUM 2013 g. (Verzija 3.0 iz 2012 g)'"
                             img="'./assets/img/awards/inventum2013.jpg'">
            </award-directive>
        </div>
        <div class="col-md-3">
            <award-directive shortdesc="'Agro Arca'"
                             longdesc="'Plaketa na sajmu Agro Arca 2013. godine (Verzija 4.0 iz 2013 g)'"
                             img="'./assets/img/awards/agroarca.png'">
            </award-directive>
        </div>
    </div>
    <div class="text-left pt-2">
        <p>
            <strong>* Program Prehrane Web</strong> objavljen je na listi 50 najperspektivnijih hrvatskih poslovnih programskih rješenja za 2020. godinu!
        </p>
    </div>
</div>