<div id="customers" class="container mt-5 mb-3">
    <h3 class="text-center">Korisnici</h3><br>
    <div>
        <p class="text-justify">Tijekom godina, računalni program i web aplikacija <strong>Program Prehrane</strong> su prepoznati kao praktičan i koristan alat za analizu prehrambenih navika pojedinca te izdradu planova prehrane od strane brojnih nutricionista, ali i pojedinaca koji vode računa o zdravoj i uravnoteženoj prehrani iz Hrvatske i zemalja regije.</p>
    </div>
    <div class="text-center">
        <img src="../assets/img/program_prehrane_web_korisnici.png" class="img-thumbnail m-2" alt="program_prehrane_web_korisnici.png" />
    </div>
    <p>Među našim najčešćim korisnicima su: poliklinike, domovi zdravlja, specijalističke ordinacije, ljekarne, obrazovne ustanove, đački domovi, domovi za starije, sportski klubovi.</p>
    <ng-include src="'../assets/partials/customerslogo.html'"></ng-include>
    <div class="container text-justify">
        <a href="" title="Korisnici aplikacije Program Prehrane" ng-click="toggleCustomers()">Korisnici <i class="fa fa-caret-{{showCustomers?'down':'right'}}" aria-hidden="true"></i></a>
        <div ng-if="showCustomers" class="text-small">
            <ng-include src="'../assets/partials/customerslist.html'"></ng-include>
        </div>
    </div>
</div>