<div ng-controller="signupCtrl" class="text-left" >
    <div ng-if="!signupok">
        <p>Upišite Vaše ime i prezime, email adresu te lozinku koju želite koristiti za pristup aplikaciji.</p>
        <div class="card">
            <div class="card-header">
                <h4>Registracijska forma</h4>
            </div>
            <div class="card-body text-left">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ime</label>
                        <input ng-model="user.firstName" type="text" required>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Prezime</label>
                        <input ng-model="user.lastName" type="text" required>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required />
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Potvrdite Email</label>
                        <input ng-model="emailConfirm" type="text" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Lozinka</label>
                        <input ng-model="user.password" type="password" required autocomplete="new-password" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})">
                        <div ng-if="user.password" class="form-group pt10">
                            <em class="small text-muted">Jačina lozinke:</em>
                            <password-strength ng-model="user.password"></password-strength>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Potvrdite lozinku</label>
                        <input ng-model="passwordConfirm" type="password" required autocomplete="new-password">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox md-no-ink aria-label="uvjeti koristenja" ng-model="accept" class="md-primary">
                            Prihvaćam
                        </md-checkbox>
                        <a href="{{config.appurl}}licence.txt" title="uvjeti korištenja" target="_blank">uvjete korištenja</a>
                    </md-input-container>
                </div>
                <div ng-if="msg.title" class="alert alert-{{msg.css}}">
                    <i class="fa fa-{{msg.icon}}"></i> {{msg.title}}
                </div>
                <button class="btn btn-default btn-lg main-gradient" ng-disabled="isSendButtonDisabled" ng-click="signup(user, emailConfirm, passwordConfirm, accept)"><span ng-class="sendicon"></span> {{sendicontitle}}</button>
            </div>
        </div>
    </div>
    <div ng-show="signupok" class="p-2 mt-3 box-shadow">
        <div ng-if="msg.title" class="alert alert-{{msg.css}}">
            <i class="fa fa-{{msg.icon}}"></i> {{msg.title}}
        </div>
        <div class="text-center">
            <a href="{{config.appurl}}" target="_self" class="btn btn-primary btn-lg main-gradient text-uppercase" title="program prehrane web"><i class="fa fa-sign-in-alt"></i> Ulaz u aplikaciju</a>
        </div>
    </div>
</div>

