<div>
    <div class="jumbotron text-left">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-md-offset-2">
                <a ui-sref="about" href="" style="text-decoration:none" title="program ishrane">
                    <h1 class="main-text font-weight-bold">Program Ishrane Veb</h1>
                    <h2 class="lead font-weight-bold">Veb aplikacija za izrada plana ishrane i fizičke aktivnost</h2>
                </a>
                <div class="text-left">
                    <a href="../app" target="_self" class="btn btn-default m10 main-border" style="width:260px" title="ulaz u aplikaciju"><i class="fa fa-sign-in-alt fa-2x"></i> <span class="lead"> Ulaz za Korisnike</span></a>
                    <a ui-sref="registration" href="" class="btn btn-default m10 main" style="width:260px" title="postani korisnik"><i class="fa fa-user-plus fa-2x"></i> <span class="lead"> Postani Korisnik</span></a>
                </div>
            </div>
        </div>
        <div ng-if="config.freetrial" class="row" ng-cloak>
            <div class="col-md-8 col-md-offset-4">
                <a ui-sref="registration" href="" style="text-decoration:none" title="Plan Ishrane 15-dana besplatno">
                    <label class="lead" style="font-weight:bold; color:#e40202; background-color:#fff; text-shadow: 2px 2px 4px #000000;">15 dana besplatno !</label>
                </a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row p-2">
            <div class="col-sm-3 p-2">
                <i class="fa fa-calculator main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Izračun</h4>
                <h3 class="small" style="margin:5px">Izračun BMI i energetske potrošnje</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-bicycle main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Fizička aktivnost</h4>
                <h3 class="small" style="margin:5px">Odabir dodatne fizičke aktivnosti</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-heartbeat main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Preporuke</h4>
                <h3 class="small" style="margin:5px">Preporuke za razne starosne grupe i više vrsta dijeta</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-utensils main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Plan ishrane</h4>
                <h3 class="small" style="margin:5px">Izrada dnevnih i nedeljnih planova ishrane za pojedince i skupine konzumenata</h3>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-sm-3 p-2">
                <i class="fa fa-chart-pie main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Analiza</h4>
                <h3 class="small" style="margin:5px">Analiza dnevnih i nedeljnih jelovnika, grafički i tabelarni prikazi</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-chart-bar main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Pacijenti</h4>
                <h3 class="small" style="margin:5px">Baza pacijenata. Praćenje antropometrijskih parametara</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-mobile main-text fa-3x"></i>
                <h4 style="margin-bottom:0px">Klijent App</h4>
                <h3 class="small" style="margin:5px">Dozvolite svojim pacijentima da putem aplikacije sami prate svoje mere i preuzimaju jelovnike</h3>
            </div>
            <div class="col-sm-3 p-2">
                <i class="fa fa-shopping-basket main-text fa-3x"></i>
                <h2 style="margin-bottom:0px" class="lead">Košarica</h2>
                <h3 class="small" style="margin:5px">Kreiranje šoping liste sa cenama namirnica i jelovnika</h3>
            </div>
        </div>
    </div>

    <div id="about" class="container pt-5">
        <div class="row">
            <div class="col-sm-6">
                <h2>O aplikaciji</h2><br>
                <h2>Program Ishrane <em>Veb</em></h2>
                <label><a href="../app" target="_self" title="program ishrane veb"><strong>Program ishrane Veb</strong></a> je veb aplikacija za izradu raznovrsnih i uravnoteženih jelovnika i plana fizičke aktivnosti na srpskom jeziku (latinica i čirilica).</label><br>
                <p class="text-justify">
                    Veb aplikacija <a href="../app" target="_self" title="program ishrane veb"><strong>Program Ishrane Veb</strong></a> (u originalu <a href="../" target="_blank" rel="noopener" title="Program Prehrane Web"><strong>Program Prehrane Web</strong></a>) naslednica je <a href="#awards" title="priznanja">višestruko nagrađivanog</a> kompjuterskog programa <a href="../program-prehrane-5.html" target="_blank" title="program prehrane 5.0" rel="noopener"><strong>Program Prehrane 5.0</strong></a>,
                    a nastala je iz potrebe za izradom alata koji će nutricionistima i zdravstvenim radnicima ali
                    i svima ostalima koji vode računa zdravoj i uravnoteženoj ishrani omogućiti brzu i jednostavnu izradu plana ishrane i programa fizičke aktivnosti.
                </p>
            </div>
            <div class="col-sm-6" style="padding-top:80px">
                <iframe name="video" title="youtube video" style="width:100%" height="325" src="https://www.youtube.com/embed/Pz61JmLZ-bg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="text-center p-5">
            <img src="../assets/img/ppweb/ppweb_izrada_jelovnika.png" alt="ppweb_izrada_jelovnika.png" class="img-fluid img-thumbnail" />
        </div>
        <div>
            <p class="text-justify">
                <a href="../app/" title="program ishrane veb"><strong>Program Ishrane Veb</strong></a> omogućava utvrđivanje stanja uhranjenosti i energetske potrošnje pojedinca te izradu jelovnika utemeljenu na znanstvenim saznanjima na polju nutriconizma.
                Osmišljavanjem jelovnika korišćenjem ove aplikacije, ishrana krajnjih korisnika postaje uravnotežena i raznolika
                što se može zahvaliti činjenici da se izrada jelovnika bazira na preporučenom broju jediničnih serviranja svih skupina namirnica te njihovih energetskih, makro i mikronutiritivnih vrednost.
                S obzirom da aplikacija <a href="../app" target="_self" title="program ushrane veb"><strong>Program Ishrane Veb</strong></a> sadrži bazu od preko 700 namirnica i jela moguće je zadovoljiti zahteve većine korisnika po pitanju izbora namirnica.
                Osim toga aplikacija pruža mogućnost unosa vlastitih namirnica i njihovih makro i mikronutirtivnih vrednosti.
                Nadalje, kad se govori o problemu prekomerne telesne mase, preporučuje se uz promenu prehrambenih navika, u svakodnevicu uključiti i dodatnu fizičku aktivnost.
                Pa tako <a href="../app/" target="_self" title="program ishrane veb"><strong>Program ishrane Veb</strong></a> nudi podatke o energetskoj potrošnji za preko 400 telesnih aktivnosti.
            </p>
            <p>Više o karakteristikama i funkcijama aplikacije pogledajte <a ui-sref="price" href="" title="cene"><strong>ovde...</strong></a></p>
        </div>
    </div>

    <div id="price" class="container bg-grey pt60">
        <div class="text-center">
            <h2>Program Ishrane Veb - Paketi</h2>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4">
                <div class="card text-center zoom" style="padding:0">
                    <div class="card-header main">
                        <h3>START</h3>
                    </div>
                    <div class="card-body">
                        <price-directive pack="'start'" discount="discount" eur="config.eur"></price-directive>
                        <ul class="list-group">
                            <li class="list-group-item">Broj korisnika: <strong>1</strong></li>
                            <li class="list-group-item">Broj klijenata: <strong>5/mesečno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>668</strong></li>
                            <li class="list-group-item"><s>Pristup USDA bazi namirnica</s></li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>6</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>1</strong></li>
                            <li class="list-group-item"><s>Kalkulator masnog tkiva</s></li>
                            <li class="list-group-item"><s>Kastom obroci</s></li>
                            <li class="list-group-item"><s>Kalendar termina</s></li>
                            <li class="list-group-item"><s>Aplikacija za klijente</s></li>
                            <li class="list-group-item"><s>Šoping lista</s></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p-2">
                            <a ui-sref="price" href="" class="btn btn-default btn-block btn-lg m2" title="saznaj više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ribbon"><span>Preporuka</span></div>
                <div class="card text-center zoom" style="padding:0; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                    <div class="card-header main">
                        <h3>STANDARD</h3>
                    </div>
                    <div class="card-body">
                        <price-directive pack="'standard'" discount="discount" eur="config.eur"></price-directive>
                        <ul class="list-group">
                            <li class="list-group-item">Broj korisnika: <strong>2</strong></li>
                            <li class="list-group-item">Broj klijenata: <strong>20/mesečno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>724</strong></li>
                            <li class="list-group-item"><s>Pristup USDA bazi namirnica</s></li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>6</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>4</strong></li>
                            <li class="list-group-item"><s>Kalkulator masnog tkiva</s></li>
                            <li class="list-group-item"><s>Kastom obroci</s></li>
                            <li class="list-group-item">Kalendar termina</li>
                            <li class="list-group-item">Aplikacija za klijente</li>
                            <li class="list-group-item"><s>Šoping lista</s></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p-2">
                            <a ui-sref="price" href="" class="btn btn-default btn-block m2" title="saznja više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center zoom" style="padding:0">
                    <div class="card-header main">
                        <h3>PREMIUM</h3>
                    </div>
                    <div class="card-body">
                        <price-directive pack="'premium'" discount="discount" premiumone="premiumPriceOneYear" premiumtwo="premiumPriceTwoYear" eur="config.eur"></price-directive>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Broj korisnika:
                                <strong>
                                    <select ng-model="premiumUsers" ng-options="x for x in maxUsers" style="height:30px" ng-change="getPremiumPrice(premiumUsers)"></select>
                                </strong>
                            </li>
                            <li class="list-group-item">Broj klijenata: <strong>neograničeno</strong></li>
                            <li class="list-group-item">Broj namirnica: <strong>724</strong></li>
                            <li class="list-group-item">Pristup USDA bazi namirnica</li>
                            <li class="list-group-item">Maksimalni broj obroka: <strong>9</strong></li>
                            <li class="list-group-item">Metode izračuna BMR: <strong>5</strong></li>
                            <li class="list-group-item">Kalkulator masnog tkiva</li>
                            <li class="list-group-item">Kastom obroci</li>
                            <li class="list-group-item">Kalendar termina</li>
                            <li class="list-group-item">Aplikacija za klijente</li>
                            <li class="list-group-item">Šoping lista</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="p-2">
                            <a ui-sref="price" href="" class="btn btn-default btn-block btn-lg m2" title="saznaj više"><i class="fa fa-info"></i> Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-2">
        <a ui-sref="uputa" href="" title="Program Prehrane Web - Uputstvo za korišćenje"><i class="fa fa-book"></i> Uputstvo za korišćenje</a>
    </div>

    <div class="container pt-2">
        <p>Više o karakteristikama aplikacije pogledajte <a ui-sref="price" href="" title="Program Prehrane Web - Karakteristike">ovde</a>.</p>
    </div>

    <div id="demo" class="container text-left pt-5">
        <h2 class="text-center">Demo verzija</h2>
        <p class="text-justify">
            Unutar demo verzije moguće je videti sučelje aplikacije i isprobati većinu funkcionalnosti. Neke su funkcionalnosti
            onemogućene: Kod izrade jelovnika maksimalan broj odabranih namirnica je 10, onemogućeno je snimanja podataka (snimanje jelovnika, recepata, namirnica, cijena, detaljne energetske potrošnje i dr), korištenje kalendara, kreiranje šoping liste, dodavanje novih korisnika itd.
        </p>
    </div>

    <div id="registration" class="container text-left pt-5">
        <h2 class="text-center">Registracija</h2>
        <div id="webapp" class="row justify-content-md-center">
            <div ng-include="'./assets/partials/signup.html'"></div>
        </div>
    </div>

    <div id="order" class="container text-left pt-5">
        <h2 class="text-center">NARUDŽBA</h2>
        <div>
            <h3>Postupak narudžbe:</h3>
            <ol>
                <li>Ukoliko se već niste registrovali, prvo se <a ng-click="scrollTo('registration')" href="" title="registracija">registrirujte</a>.</li>
                <li>U narudžbenici upišite e-mail i lozinku koju ste odabrali prilikom registracije i kliknite na tipku <kbd>Dalje >></kbd>.</li>
                <li>
                    Odaberite paket (<em>START, STANDARD ili PREMIUM</em>) i trajanje pretplate (<em>jedna ili dvije godine</em>) i popunite sva obavezna polja
                    <p class="small"><em>* ako se račun izdaje na tvrtku odaberite <strong>pravna osoba</strong>.</em></p>
                </li>
                <li>Pošaljite narudžbu klikom na <kbd>Dalje >></kbd>.</li>
                <li>Na Vaš e-mail ćete dobiti podatke za uplatu.</li>
                <li>Aplikacija postaje aktivna nakon primitka Vaše uplate ili nakon što nam pošaljete potvrdu o uplati.</li>
            </ol>
        </div>
        <div class="row justify-content-md-center">
            <div ng-include="'./assets/partials/order.html'" class="col-md-8" ng-controller="orderCtrl"></div>
        </div>
    </div>
    <div class="container mt-3 pt-5">
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <img src="../assets/img/mockup_600x400.jpg" alt="mockup" title="Program Ishrane" class="img-fluid">
            </div>
            <div class="col-sm-8">
                <strong>ISTORIJA:</strong> <strong>Program Ishrane</strong> se na tržištu nalazi već više od {{year - 2008}} godina, a do sada je doživeo 7 verzija.
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th>Verzija</th>
                            <th>Godina izdanja</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/pp1.jpg" title="pp1">
                                    <img src="../assets/img/povijest/pp1.jpg" alt="pp1" style="width:60px" />
                                </a>
                            </td>
                            <td>Program Prehrane 1.0</td>
                            <td>2008</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/pp2.jpg" title="pp2">
                                    <img src="../assets/img/povijest/pp2.jpg" alt="pp2" style="width:60px" />
                                </a>
                            </td>
                            <td>Program Prehrane 2.0</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/pp3.jpg" title="pp3">
                                    <img src="../assets/img/povijest/pp3.jpg" alt="pp3" style="width:60px" />
                                </a>
                            </td>
                            <td>Program Prehrane 3.0</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/pp4.jpg" title="pp4">
                                    <img src="../assets/img/povijest/pp4.jpg" alt="pp4" style="width:60px" />
                                </a>
                            </td>
                            <td>Program Prehrane 4.0</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/pp5.jpg" title="pp5">
                                    <img src="../assets/img/povijest/pp5.jpg" alt="pp5" style="width:60px" />
                                </a>
                            </td>
                            <td><a href="program-prehrane-5.html" target="_blank" title="računalni program" rel="noopener"><strong>Program Prehrane 5.0</strong></a></td>
                            <td>2014</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/ppweb1.png" title="ppweb1">
                                    <img src="../assets/img/povijest/ppweb1.png" alt="ppweb1" style="width:60px" />
                                </a>
                            </td>
                            <td><a href="/app_v_1_4_8/index.html" target="_blank" title="Program Prehrane Web Ver. 1" rel="noopener"><strong>Program Prehrane Web Ver. 1</strong></a></td>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="../assets/img/povijest/ppweb2.png" title="ppweb2">
                                    <img src="../assets/img/povijest/ppweb2.png" alt="ppweb2" style="width:60px" />
                                </a>
                            </td>
                            <td><a href="/app/index.html" target="_blank" title="Program Prehrane Web Ver. 2" rel="noopener"><strong>Program Prehrane Web Ver. 2</strong></a></td>
                            <td>2020</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'./assets/partials/awards.html'"></div>

    <div ng-include="'./assets/partials/customers.html'"></div>

    <div ng-include="'./assets/partials/info.html'"></div>
</div>
