<ng-include src="pack"></ng-include>

<script type="text/ng-template" id="start">
    <div ng-if="discount.perc===0">
        <label><span class="font-weight-bold">550.00 kn</span> / 1 godina</label>
        <label><span class="font-weight-bold">880.00 kn</span> / 2 godine</label>
    </div>
    <div ng-if="discount.perc>0">
        <div>
            <s>550.00 kn / 1 godina</s>
        </div>
        <label><span class="font-weight-bold">{{550 - (550 * discount.perc/100.0)  | number : 2}} kn</span> / 1 godina</label>
        <div>
            <s>880.00 kn / 2 godine</s>
        </div>
        <label><span class="font-weight-bold">{{880 - (880 * discount.perc/100.0)  | number : 2}} kn</span> / 2 godine</label>
    </div>
</script>

<script type="text/ng-template" id="standard">
    <div>
        <div ng-if="discount.perc===0">
            <label><span class="font-weight-bold">950.00 kn</span> / 1 godina</label>
            <label><span class="font-weight-bold">1,520.00 kn</span> / 2 godine</label>
        </div>
        <div ng-if="discount.perc>0">
            <div>
                <s>950.00 kn / 1 godina</s>
            </div>
            <label><span class="font-weight-bold">{{950 - (950 * discount.perc/100.0)  | number : 2}} kn</span> / 1 godina</label>
            <div>
                <s>1,520.00 kn / 2 godine</s>
            </div>
            <label><span class="font-weight-bold">{{1520 - (1520 * discount.perc/100.0)  | number : 2}} kn</span> / 2 godine</label>
        </div>
    </div>
</script>

<script type="text/ng-template" id="premium">
    <div>
        <div ng-if="discount.perc===0">
            <label><span class="font-weight-bold">{{premiumone | number : 2}} kn</span> / 1 godina</label>
            <label><span class="font-weight-bold">{{premiumtwo | number: 2}} kn</span> / 2 godine</label>
        </div>
        <div ng-if="discount.perc>0">
            <div>
                <s>{{premiumone | number : 2}} kn / 1 godina</s>
            </div>
            <label><span class="font-weight-bold">{{premiumone - (premiumone * discount.perc/100.0)  | number : 2}} kn</span> / 1 godina</label>
            <div>
                <s>{{premiumtwo | number: 2}} kn / 2 godine</s>
            </div>
            <label><span class="font-weight-bold">{{premiumtwo - (premiumtwo * discount.perc/100.0)  | number : 2}} kn</span> / 2 godine</label>
        </div>
    </div>
</script>

    