<div id="customers" class="container pt60 mb20">
    <h2 class="text-center">Korisnici</h2><br>
    <div class="text-center">
        <img src="../assets/img/map.png" class="img-thumbnail m10" alt="map.png" />
    </div>
    <div class="mt20">
        <p class="text-justify">Tokom godina, računalni program i web aplikacija <strong>Program Ishrane</strong> su prepoznati kao praktičan i koristan alat za izdradu jelovnika od strane brojnih nutricionista, ali i pojedinaca koji vode računa o zdravoj i uravnoteženoj ishrani iz Srbije, Hrvatske, Bosne i Hercegovine i drugih zamelja u regiji.</p>
        Naši najčešći korisnici su: Nutricionisti, Poliklinike, Domovi zdravlja, Specijalizovane ordinacije, Apoteke, Škole, Đački domovi, Domovi za starije, Sportski klubovi.
    </div>
    <ng-include src="'../assets/partials/customerslogo.html'"></ng-include>
    <div class="container text-justify">
        <a href="" title="Korisnici aplikacije Program Prehrane" ng-click="toggleCustomers()">Korisnici <i class="fa fa-caret-{{showCustomers?'down':'right'}}" aria-hidden="true"></i></a>
        <div ng-if="showCustomers" class="text-small">
            <ng-include src="'../assets/partials/customerslist.html'"></ng-include>
        </div>
    </div>
</div>